<div class="container">
  <h3 class='pt-4 mb-4'>Hosted Events</h3>
  <%= render 'events/list_events', events: @hosted_events %>
</div>
<%= render partial: 'layouts/shared/pagination', locals: { collection: @hosted_events } %>
