<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <% events.each do |event| %>
      <tr scope="row">
        <td><%= link_to event.name, event_path(event), style: "text-decoration: none;" %></td>
        <td><%= event.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
