<div class="container">
  <h3 class='pt-4 mb-4'>Add New Event</h3>
  <%= render 'event_form', event: @event do |f| %>
    <%= f.submit "Create Event", class: "btn btn-primary mt-3" %>
  <% end %>
</div>
